@primary-color: red;

.main {
    display: grid;
    width: 100%;
}
.container {
    display: grid;
    justify-items: center;
    align-items: center;
}

.upload {
    font-size: 2rem;
    text-align: center;
}

.KeywordsBox {
    margin-top: 100px;
    border: 2px solid;
    align-items: center;
}

// .selectionButton {

// }